@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="d-flex justify-content-center">@ViewData["Title"]</h1>

<br /><br /><br />





<h2 class="d-flex justify-content-center" style="color:orange">  ♥بما انك هنا صلى على النبى ﷺ   </h2>
